\:host
    /deep/
        ng2-smart-table-pager 
            display: flex;
            justify-content: center;
            alien-item: center;
            margin-top: 5%;
        table
            tr, th
                border: 1px solid #EAEEF5 ;
                text-align: center;

.dashboard-card
    background-color: #fff;
    display: flex;
    border: 0 solid transparent;
    border-radius: .25rem;
    box-shadow: 0 0.5rem 1rem 0 rgba(44,51,73,.1);
    justify-content: center;
    alien-item: center;
    padding: 30px;
    margin: 50px;



