<div class="container">
  <div class="dashboard-card">
    <h1>Logs Dashboard</h1>
  </div>
  <div class="dashboard-card">
    <ng2-smart-table
      [settings]="settings"
      [source]="data"
      (createConfirm)="createConfirm($event)"
    ></ng2-smart-table>
  </div>
</div>
